#movie-details {
  padding: 15px;
  display: flex;
  gap: 15px;
}

#detail-left {
  max-width: 25%;
}

#details-img {
  width: 100%;
}

#details-title {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 2rem;
}

#details-poster {
  max-width: 50%;
}

#detail-right {
  max-width: 100%;
}