#all-details {
  max-width: 80%;
  margin: 0 auto;
}

#movie-details {
  padding: 15px;
  display: flex;
  gap: 15px;
}

#detail-left {
  max-width: 25%;
}

#details-img {
  width: 100%;
  border-radius: 5px;
}

#details-title {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 2rem;
}

#details-poster {
  max-width: 100%;
}

#detail-right {
  max-width: 50%;
  min-width: 25%;
}

/* Mobile view */
@media (max-width: 600px) {
  #movie-details {
    padding: 15px;
    display: block;
    gap: 15px;
  }

  #detail-right {
    max-width: 100%;
  }

  #detail-left {
    max-width: 100%;
  }

  #all-details {
    max-width: 100%;
  }
}
